# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore Python cache folders
__pycache__/

# Ignore system-specific files and folders
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/

# Ignore testing and coverage files
.coverage
.tox/
nosetests.xml
htmlcov/
coverage/
Objects/Academic/__pycache__/Units.cpython-310.pyc
Objects/Physical/__pycache__/__init__.cpython-310.pyc
Objects/Physical/__pycache__/__init__.cpython-310.pyc
Objects/Persons/__pycache__/Students.cpython-310.pyc
Objects/Persons/__pycache__/Students.cpython-310.pyc
Objects/Persons/__pycache__/Instructor.cpython-310.pyc
Objects/Persons/__pycache__/__init__.cpython-310.pyc
Objects/Academic/__pycache__/Units.cpython-310.pyc
Objects/Academic/__pycache__/__init__.cpython-310.pyc
Objects/__pycache__/__init__.cpython-310.pyc
Objects/Physical/__pycache__/Rooms.cpython-310.pyc
Objects/Physical/__pycache__/__init__.cpython-310.pyc
Objects/Persons/__pycache__/Students.cpython-310.pyc
Objects/Persons/__pycache__/Instructor.cpython-310.pyc
Objects/Persons/__pycache__/__init__.cpython-310.pyc
Objects/Academic/__pycache__/Units.cpython-310.pyc
Objects/Academic/__pycache__/__init__.cpython-310.pyc
Objects/__pycache__/__init__.cpython-310.pyc
Objects/Physical/__pycache__/Rooms.cpython-310.pyc
Objects/Physical/__pycache__/__init__.cpython-310.pyc
Objects/Persons/__pycache__/Students.cpython-310.pyc
Objects/Persons/__pycache__/Instructor.cpython-310.pyc
Objects/Persons/__pycache__/__init__.cpython-310.pyc
Objects/Academic/__pycache__/Units.cpython-310.pyc
Objects/Academic/__pycache__/__init__.cpython-310.pyc
Objects/__pycache__/__init__.cpython-310.pyc
